---
title: Dorignac's Food Center
---

section#project-single
  aside
    = project_details "2014", "WordPress, Roots", "Developer"
    markdown:
      Dorignac's Food Center is a grocery store in Metairie, Louisiana. I worked collaboratively with [Wright Feigley Communications](http://wfcommunications.com/) to develop their design into a custom, responsive WordPress theme using the Roots framework.

      I was also allowed full creative freedom with the site's responsiveness and layout at smaller screen sizes.

      [http://dorignacs.com](http://dorignacs.com)

  main role="main"
    = project_image "Dorignac's home page", "monitor-front-dorignacs.jpg"
    hr
    = project_image "Dorignac's responsive", "responsive-dorignacs.jpg"
    hr
    = project_image "Dorignac's meats and seafood", "dorignacs-meats-seafood.jpg", "border"
