---
title: Gator Millworks
---

section#project-single
  aside
    = project_details "2014", "Express on Node", "Designer, Frontend developer, Project manager"
    markdown:
      Gator Millworks fabricates incredible cabinets and woodcases, but their existing web presence does not reflect this tastefully.

      I have proposed and designed a large format website with beautiful photography from [Chad Chenier](http://www.chadchenierphotography.com/) that showcases the quality and craftsmanship Gator Millworks has strived to achieve since 1995. I also designed a new logo based on the company's old one.

      This project is currently under development.

  main role="main"
    = project_image "Gator Millworks logo", "logo-gator-millworks.jpg"
    = project_image "Gator Millworks homepage", "monitor-front-gatormillworks.jpg"
    hr
    = project_image "Gator Millworks home page", "gatormillworks-home.jpg", "border"
    hr
    = project_image "Gator Millworks project case studies", "gatormillworks-projects.jpg", "border"
