---
title: Gator Millworks Gatortrax
---

section#project-single
  aside
    = project_details "2013", "Ruby on Rails", "Designer, Frontend developer, Project manager"
    markdown:
      Gatortrax, or Instagator, is a web-based project manager for Gator Millworks in Denham Springs. This Ruby on Rails application allows employees to create estimates, convert them to jobs, and schedule job-related tasks. It also assists with stock and organization of products and materials in inventory.

      The original Gtrax acted as an exploratory prototype to solidify functionality and workflows. It is undergoing an overhaul of its user interface that is more fully realized and useful for the client.

  main role="main"
    = project_image "Gatortrax login form", "monitor-front-gtrax.jpg"
    hr
    = project_image "Gatortrax table list", "monitor-right-gtrax-table.jpg"
    hr
    = project_image "Gatortrax version 2.0", "monitor-right-gtrax-v2.jpg"
