---
title: Holy Name of Jesus Church
---

section#project-single
  aside
    = project_details "2011", "WordPress", "Designer, Developer, Project manager"
    markdown:
      Located on Loyola University's campus, the Holy Name of Jesus church dates to the 1800s. They requested a new website with manageable content in order to provide updated information to parishioners.

      Another important goal was to create web forms for parish membership, ministry application, and tithing.

      [http://hnjchurch.org](http://hnjchurch.org)

  main role="main"
    = project_image "Holy Name of Jesus logo", "logo-hnj-church.jpg"
    hr
    = project_image "HNJ home page", "monitor-front-hnj.jpg"
    hr
    = project_image "HNJ membership application", "hnj-parish-membership.jpg"
