---
title: ISC Constructors
---

section#project-single
  aside
    = project_details "2014", "WordPress, Bedrock, Roots", "Designer, Developer, Project manager"
    markdown:
      ISC Constructors is a leading electrical contractor in the South. Their website, however, poorly represents the growth and success ISC has earned over the years.

      The primary goal of the website, currently under development, is to excite potential applicants and procure new employment. Our focus will revolve around the individuality of current employees and staff and their amazing achievements while working at ISC.

      We will also detail ISC’s safety record and reflect on team-building elements such as crawfish boils and the baseball team.

      ---

      **Early mockup, version 1** &ndash; This was a general exploration attempt using ideas from initial discovery meetings.

      ---

      **Early mockup, version 2** &ndash; This exploration toyed with a full browser, single page, and parallax website to capture the company’s marketing movement.

      [http://iscgrp.com](http://iscgrp.com)

  main role="main"
    = project_image "ISC homepage", "monitor-front-isc.jpg"
    hr
    = project_image "ISC alternative 1", "monitor-right-isc-alt1.jpg"
    hr
    = project_image "ISC alternative 2", "monitor-right-isc-alt2.jpg"
    