---
title: Lighting Choice
---

section#project-single
  aside
    = project_details "2015", "Magento", "Designer, Frontend developer, Project manager"
    markdown:
      Leo founded a high-end LED lighting supply company, and his products will be available in a Houston-based commercial building as well as an online web store.

      **User Stories**

      I began this project by writing user stories from the perspective of potential customers, identified by Leo's business plan and meetings. This revealed a set of design goals.

      **Public Website**

      I developed my design into a custom Magento theme using [magento-boilerplate](https://github.com/webcomm/magento-boilerplate), working closely with [Chris McKnight](https://github.com/cmckni3) for backend development.

      [http://lightingchoice.com](http://lightingchoice.com)

  main role="main"
    = project_image "Lighting Choice home page", "monitor-front-lightingchoice.jpg"
    hr
    = project_image "Lighting Choice index mockup", "mockup-lightingchoice-home.jpg", "border"
    hr
    = project_image "Lighting Choice single product", "mockup-lightingchoice-product.jpg", "border"
