---
title: LSU Club at Union Square
---

section#project-single
  aside
    = project_details "2012", "WordPress", "Designer, Developer, Project manager"
    markdown:
      The Club at LSU Union Square is a fine dining restaurant on Louisiana State University’s campus. I was provided with a beautiful photograph of the building’s exterior at sunset, which inspired a simplistic, left-aligned and semitransparent site that spotlights the building and the food.

      A custom WordPress theme and plugins helps staff keep the website updated with new menu items and specials on a weekly basis.

      [http://www.theclubatlsu.com](http://www.theclubatlsu.com)

  main role="main"
    = project_image "LSU Club monitor", "monitor-front-lsuclub.jpg"
    hr
    = project_image "LSU Club home page", "lsu-club-home.jpg"
    