---
title: Mow &amp; Tell
---

section#project-single
  aside
    = project_details "2013", "WordPress", "Designer, Developer, Project manager"
    markdown:
      Mow & Tell is a successful local company with the desire to grow through the web and other marketing means. I provided ongoing consulting during the logo creation process, then worked with Dartanyon closely to design and develop a fitting web presence.

      The site is built onto WordPress with the Roots framework, allowing for a beautifully responsive and simple to manage website.

      Dev: [http://mow.dev.immense.net](http://mow.dev.immense.net)

  main role="main"
    = project_image "Mow &amp; Tell monitor", "monitor-front-mowtell.jpg"
    hr
    = project_image "Mow &amp; Tell responsive", "responsive-mowtell.jpg"
    hr
    = project_image "Mow &amp; Tell about us", "mowtell-about.jpg", "border"
