---
title: P&amp;S Surgical Hospital
---

section#project-single
  aside
    = project_details "2014", "WordPress, Roots, Less, Grunt", "Designer, Developer, Project manager"
    markdown:
      The P&S Surgical Hospital of Monroe needed a new public website to represent their evolving organization. The previous website and company representatives provided helpful feedback and content structure, allowing for a pleasant design and development process.

      The client requested WordPress, which would provide a comfortable platform for managing content. I designed and helped develop a responsive theme on the Roots framework, utilizing Pods (and other tools) to offer a small learning curve for managing their new website.

      [http://pssurgery.com](http://pssurgery.com)

  main role="main"
    = project_image "P&amp;S Surgical Hospital monitor", "monitor-front-pssurgery.jpg"
    hr
    = project_image "P&amp;S Surgical Hospital responsive", "responsive-pssurgery.jpg"
    hr
    = project_image "P&amp;S Surgical Hospital home page", "pssurgery-home.jpg", "border"
