---
title: Rotolo's Pizzeria
---

div#project-single
  aside
    = project_details "2012", "WordPress, Roots, Less, Grunt", "Frontend developer"
    markdown:
      The growing Rotolo's Pizzeria corporation wanted to provide menu and catering information to customers while simultaneously guiding entrepreneurs to franchising details.

      I worked closely with designer [Mandy Porta](http://www.successdesigns.net) to develop a website that allows the Rotolo’s marketing team to update news posts, menu items, and other content as needed while the brand continues to grow across the Gulf South.

      The site was developed onto WordPress using the Roots framework, offering a responsive layout and manageable codebase. Ongoing maintenance and consulting help their team keep the website updated.

  div.main
    = project_image "Rotolo's homepage", "monitor-front-rotolos.jpg"
    hr
    = project_image "Rotolo's responsive", "responsive-rotolos.jpg"
    hr
    = project_image "Rotolo's food menu", "rotolos-menu.jpg", "border"
