---
title: ServerExec Domain Manager
---

section#project-single
  aside
    = project_details "2011", "Symfony", "Designer, Frontend developer, Project manager"
    markdown:
      ServerExec notifies users of upcoming expirations for domain names and SSL certificates, no matter which registrar is used.

      Originally a tool created to manage client domain and SSL certificates, we recognized a greater potential for ServerExec and created a website for information and marketing.

      [http://serverexec.com](http://serverexec.com)

  main role="main"
    = project_image "ServerExec logo", "logo-serverexec.jpg"
    hr
    = project_image "ServerExec account dashboard", "monitor-front-serverexec.jpg"
    hr
    = project_image "ServerExec marketing site", "monitor-right-serverexec-home.jpg"
    