---
title: Simple Simon Tire
---

section#project-single
  aside
    = project_details "2010", "WordPress", "Developer, Project manager"
    markdown:
      Simple Simon Tire of Baton Rouge has offered tire and automotive maintenance for over 40 years

      I worked with designer [Mandy Porta](http://www.successdesigns.net) to develop their new website, which required random automation of testimonials, YouTube commercial embeds, newsletter registration, and content management.

  main role="main"
    = project_image "Simple Simon homepage", "monitor-front-simplesimon.jpg"
    hr
    = project_image "Simple Simon services", "simple-simon-services.jpg"
