---
title: Sweets &amp; Treats
---

section#project-single
  aside
    = project_details "2015", "Magento, WordPress", "Developer, Project manager"
    markdown:
      **Ecommerce Web Store**

      Shannon's new web store was launched to promote her new line of products.

      Large desktop mockups were provided by the designer, and I was given creative freedom with converting those images into an interactive and responsive website.

      Shannon's line-of-business softwares rely on Magento, so I developed onto the [magento-boilerplate](https://github.com/webcomm/magento-boilerplate) starter theme, allowing for gulp tasks and simpler version control.

      One challenge was to design a way for users to make 20 color/pattern selections to fill an assorted case. I chose a grid layout with thumbnails that would adjust its rows with the screen, which proved rather difficult to implement in Magento, but [Chris McKnight](https://github.com/cmckni3) helped bring this vision to life.

      [See the store](https://shopsweetsandtreats.com)

      ---

      **WordPress Blog**

      Shannon's blog is extremely important for brand promotion and community outreach. Like the store, the designer provided images for the large desktop version of the blog.

      I developed a responsive WordPress theme onto [Bedrock](https://github.com/roots/bedrock)+[Sage](https://github.com/roots/sage) with deployments via capistrano.

      [See the blog](http://blog.shopsweetsandtreats.com)

  main role="main"
    h2 Home
    = project_image "Sweets &amp; Treats store home page", "sweets-store-home.jpg", "border"
    hr
    h2 Custom dropdowns
    = project_image "Wholesale cupcake liners grid layout", "sweets-wholesale-cupcake-liners.jpg", "border"
    hr
    h2 Blog
    = project_image "Sweets &amp; Treats blog home page", "sweets-blog-home.jpg", "border"
