---
title: Think Print 3D
---

section#project-single
  aside
    = project_details "2014", "Middleman", "Designer, Developer, Project manager"
    markdown:
      **Public Website**

      Think Print 3D provides 3D printing and design services for the medical, aerospace, architecture, and military industries.

      [http://thinkprint3d.com](http://thinkprint3d.com)

      ---

      **Coming Soon**

      A coming soon page was temporarily necessary since the physical store opened during project development.

  main role="main"
    = project_image "Think Print homepage", "tp3d-home.jpg", "border"
    hr
    = project_image "Think Print coming soon", "monitor-right-thinkprint3d-comingsoon.jpg"
