---
title: Zorb-It
---

section#project-single
  aside
    = project_details "2012", "OpenCart", "Designer, Developer, Project manager"
    markdown:
      Zorb-IT is the commercialized version Humidisorb, an industrial self-regenerating desiccant, which directly competes with silica gel packets used for moisture control. The primary goal of the site was to convey what the product does and allow users to purchase it online.

      This project was developed onto OpenCart, a leaner open source PHP-based ecommerce framework at the time.

      I was allowed full creative freedom and enjoyed recreating a packet to be used as the logo, among other graphical explorations.

  main role="main"
    = project_image "Zorb-It logo", "zorbit-logo.jpg"
    hr
    = project_image "Zorb-It how it works diagram", "zorbit-howworks-diagram.jpg"
    hr
    = project_image "Zorb-It monitor", "monitor-front-zorbit.jpg"
    hr
    = project_image "Zorb-It product single", "zorbit-product.jpg"

