.projects_pfsync {
  .hero {
    background-color: #7fc346;
    background-image: url(../img/projects/pfsync/pfsync-hero.png);
    background-repeat: no-repeat;
    background-position: center top;
    h1 {
      color: #fff;
    }
    span {
      background: rgba(102,162,52,0.75);
    }
  }
  .content {
    img {
      @media (max-width: $screen-lg-min) {
        display: block;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
  #logo-immense-networks {
    width: 240px;
    color: #2f3021;
    display: block;
    clear: both;
    margin: 0 auto;
  }
  .building-a-sass {
    background: #f2ffe3;
  }
  .identifying-audience {
    background: #66a234;
    color: #fff;
    .content {
      padding-bottom: 0;
    }
    img {
      margin-bottom: 0;
    }
    .big-list {
      li, .number {
        background: #528925;
      }
      .text {
        background: #7fc346;
      }
    }
  }
  .animated-flydown {
    @media (min-width: $screen-md-min) {
      margin-left: -245px;
    }
  }
  .what-i-learned {
    background: #CFD7BB;
  }
}
