---
title: Hello
redirect: /
noindex: 1
---

// Intentionally left blank

// There is currently no need to have content at /blog since the
//  blog archive is on the home page.

// This page exists in case the user attempts to visit /blog
// directly, which would result in a meta redirect to the home page.
